@charset "UTF-8";

/* 로그인 페이지 */

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    margin: 0;
}
.noDisplay {
    display: none;
  }

.sp-login {
    background-color: #ffeae4;
    /* background: url(https://preview.redd.it/2jhtmqhg4mo81.png?width=1920&format=png&auto=webp&s=0d41709c3c478d2bcadfd8f2450271f175c0676f); */
    color: white;
    font-family: "Muli", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.SignInContainer {
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 60px;
    width: 450px;
    height: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SignInContainer h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 32px;
    color: #fff;
}

.SignInContainer a {
    text-decoration: none;
    color: coral;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightcoral;
    padding: 15px;
    font-family: inherit;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin: 30px 0;
    color: #fff;
}

.form-control {
    color: #fff;
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.loginpage .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px white solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: 2px white solid;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}

.SignUpContainer {
    box-sizing: border-box;
    margin: 0;
    width: 450px;
    height: 600px;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 40px;
    border-radius: 5px;
}

.SignUpContainer h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    margin-top: 15px;
    color: #fff;
}

.SignUpContainer a {
    text-decoration: none;
    color: #fff;
}

form {
    padding: 30px 40px;
}

.SignUpContainer form {
    padding: 10px 40px;
}

.SignUpContainer form .form-control {
    margin: 15px 0 40px;
}

.google {
    background-image: url(../image/google.png);
    margin-right: 30px;
}
.github {
    background-image: url(../image/github.png);
}

.google,
.github {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
    background-position: center center;
}

.socialBtns {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 27px 0;
}

.google:hover,
.github:hover {
    transform: scale(1.1);
}

/*  */
